.footer {
	background-color: var(--silver-bg);
}
.footer-menu {
	display: flex;
	justify-content: space-between;
	padding: 40px 0 0 0;
	border-bottom: 1px solid var(--icon-border);

		// .footer-menu__item

		&__item {
			max-width: 180px;
		}
}
.footer-navigation {

	margin-bottom: 30px;
	position: relative;
}
.footer-nav {
	position: relative;

		// .footer-nav__title-content

		&__title-content {
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 145%;
			color: var(--title);
		}

		// .footer-nav__list

		&__list {
			transition: all .2s linear;
		}

		// .footer-nav__item

		&__item {
			margin-bottom: 5px;
			padding-right: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		// .footer-nav__link

		&__link {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;
			color: var(--silver-blue);
			transition: .2s linear;

			&:hover {
				color: var(--green);
			}
		}

		// .footer-nav__item-contacts

		&__item-contacts {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		// .footer-nav__item-title

		&__item-title {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 145%;
			color: var(--gray);
			margin-bottom: 5px;
		}

		// .footer-nav__item-phone

		&__item-phone {
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 145%;
			color: var(--title);
			white-space: nowrap;
		}

		// .footer-nav__item-email

		&__item-email {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 145%;
			color: var(--title);
		}
}
.footer-nav__list

.footer .arrow-svg {
	width: 11px;
	height: 6px;
	color: var(--dark);
	transition: all .2s linear;
	cursor: pointer;
}
.footer .arrow {
	display: none;
	position: absolute;
	top: 10px;
	right: 0;
}
.footer .arrow.active  {
	transform: rotate(180deg);
}

/* footer bottom content */
.footer-bottom {
	padding: 20px 0;
	// .footer-bottom__body

	&__body {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__left-column {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.copyright {
	width: 100%;

	// .copyright__title

	&__title {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 145%;
		letter-spacing: -0.01em;
		color: var(--gray);
	}
}
.pay-systems {
	width: 100%;

	// .pay-systems__list

	&__list {
		display: flex;
		align-items: center;
	}

	// .pay-systems__item

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		width: auto;
		height: 15px;

		margin-left: 15px;
		transform: scale(1);
		transition: all .2s linear;

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			transform: scale(1.1);
		}

		& img {
			width: auto;
			height: 100%;

		}
	}
}
.social {
	width: 33.333%;
	display: flex;

	// .social__title

	&__title {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	&__title-item {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 145%;
		letter-spacing: -0.01em;
		color: var(--gray);
		margin-right: 25px;
	}

	// .social__content

	&__content {
		display: flex;
		align-items: center;
	}

	// .social__item

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-left: 15px;
		transform: scale(1);
		transition: all .2s linear;

		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}
.footer-social-svg {
	width: 32px;
	height: 32px;
}