.section {
	padding: 60px 0;
}
.section-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;

		// .section-title__title

		&__title {
			font-family: 'YesevaOne', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: calc(20px + 20 * (100vw / 1210));
			line-height: 125%;
			color: var(--title);
		}

		// .section-title__img

		&__img {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 15px;

			&:hover .section-title__img-link {
				color: var(--green);
			}

			&:hover .arrow-title {
				color: var(--green);
			}
		}

		// .section-title__img

		&__img-link {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 145%;
			display: flex;
			align-items: center;
			color: var(--dark);
			margin-right: 10px;
			transition: all .2s linear;
		}
}
.arrow-title {
	width: 24px;
	height: 24px;

	color: var(--silver-blue);
	transition: .2s linear;

}
.cards-swiper{
	position: relative;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border: 1px solid var(--icon-border);
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--silver-light);
	box-shadow: 0px 4px 12px rgba(34, 42, 70, 0.03);
	border-radius: 5px;
	max-width: 280px;
	height: 100%;

		// .card__favourite

		&__favourite {
			display: flex;
			justify-content: center;
			align-items: center;

			position: absolute;
			top: 15px;
			right: 15px;
			width: 36px;
			height: 36px;
			border-radius: 50%;

			z-index: 10;
			background-color: var(--white);
			cursor: pointer;
		}

		// .card__img

		&__img {
			justify-content: center;
			align-items: center;
			overflow: hidden;
			min-height: 250px;
			overflow: hidden;
		}

		&__img-link img {
			// width: 100%;
			// height: 100%;
			object-fit: cover;
			transform: scale(1);
			transition: all .2s linear;
		}
	
		&:hover .card__img-link img {
			transform: scale(1.1);
		}

		&:hover .card__title {
			color: var(--green)
		}

		// .card__information

		&__information {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 20px;
			height: 100%;
			min-height: 180px;
		}

		// .card__information-block

		&__information-block {
			// margin-bottom: 45px;
		}

		// .card__title

		&__title {
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 140%;
			color: var(--title);
			margin-bottom: 10px;
			transition: all .2s linear;
		}

		// .card__subtitle

		&__subtitle {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 145%;
			color: var(--gray);
		}

		// .card__sale

		&__sale {
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
}
.card-favourite-svg {
	width: 20px;
	height: 20px;

	color: var(--silver-blue);
}
/*discount*/
.discount {
		position: absolute;
		top: 15px;
		left: 15px;
		background-color: var(--green);
		padding: 5px 10px;
		z-index: 2;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
		border-radius: 5px;

		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 135%;
		color: var(--white);
		text-transform: uppercase;
}
/*card price*/
.price {

		// .price__price

		&__price {
			font-weight: 700;
			font-size: 16px;
			line-height: 140%;
			color: var(--title);
		}

		// .price__old

		&__old {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 145%;
			text-decoration-line: line-through;
			color: var(--silver);
		}
}
/*card button*/
.card-button {
	display: flex;
	align-items: center;
	background-color: var(--red);
	padding: 12px 15px;
	border-radius: 5px;
	border: 1px solid var(--red);
	cursor: pointer;
	transition: .2s linear;

	&:hover {
		background-color: var(--white);
	}

	&:hover .card-button__text {
		color: var(--red);
	}

	&:hover .card-icon-svg {
		color: var(--red);
		--shop: var(--red);
	}
		// .card-button__img

		&__img {
			margin-right: 10px;
		}

		// .card-button__text

		&__text {
			color: var(--white);
		}
}
.card-icon-svg {
	width: 18px;
	height: 18px;

	--shop: var(--white);
	color: var(--white);
}
.product-slider {
	overflow: hidden;

	&__wrapper {

	}
	// .product-slider__slide

	&__slide {
		display: flex;
		width: auto;
		max-width: 280px;
		height: auto;
	}
}
.product-slider .swiper-wrapper {
	display: flex;
}

.shop-card-block {
	height: 100%;
}
.shop-card {
	height: 100%;

	&__article {
		height: 100%;
	}
}

/* slider */
/* swiper buttons */
.product-slider .button-prev {
	transform: rotate(180deg);
	left: -20px;
}
.product-slider .button-next {
	right: -20px;
}
.product-slider .swiper-button-prev .swiper-arrow {
	transform: rotate(180deg);
	margin-right: 2px;
}
.swiper-arrow {
	color: var(--dark);
	width: 10px;
	height: 12px;
	margin-left: 2px;
	transition: all .2s linear;
}
.product-slider .swiper-button-disabled {
	opacity: 0;
	transition: all .2s linear;
}

/* slider "Лучшие предложения" */
.best-slider {
	overflow: hidden;
}
.best-slider .button-prev {
	transform: rotate(180deg);
	left: -20px;
}
.best-slider .button-next {
	right: -20px;
}

/* slider "Лучшие предложения" */
.news-slider {
	overflow: hidden;
}
.news-slider .button-prev {
	transform: rotate(180deg);
	left: -20px;
}
.news-slider .button-next {
	right: -20px;
}