// main section .banner
.main-banner-content {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

// .large-banner-slider slider-swiper

.large-banner-slider {
	position: relative;
	overflow: hidden;
	max-height: 440px;
	height: 100%;
	border-radius: 10px;
	min-height: 250px;

		// .large-banner-slider__wrapper

		&__wrapper {
			display: flex;
			height: 100%;
		}

		// .large-banner-slider__slide

		&__slide {
			position: relative;
			height: 100%;

			& img {
				height: 100%;
				max-width: auto;
				object-fit: cover;
			}
		}
}
.large-banner {
	position: absolute;
	top: 50%;
	left: 90px;
	transform: translate(0, -50%);
	width: 45%;
	z-index: 10;

	// .large-banner__description

	&__description {
	}

	// .large-banner__descr-title

	&__descr-title {
		// max-width: 305px;
		font-family: 'YesevaOne', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: calc(20px + 24 * (100vw / 1210));
		line-height: 130%;
		color: var(--title);
		margin-bottom: 10px;
	}

	// .large-banner__promo

	&__promo {
		display: block;

	}

	// .large-banner__promo-title

	&__promo-title {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 145%;
		color: var(--dark);
		margin-bottom: 10px;
	}

	// .large-banner__promo-body

	&__promo-body {
		display: inline-flex;
		align-items: center;
		box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
		border-radius: 10px;
		overflow: hidden;
	}

	// .large-banner__text

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: 0.1em;
		color: var(--red);

		padding: 15px 25px;
		background-color: var(--white);
	}

	// .large-banner__img

	&__img {
		padding: 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--green);
		color: var(--white);
	}
}
.main-title {
	display: none;
}
.promo-svg {
	width: 24px;
	height: 24px;
}

/* swiper buttons arrows */
.button-prev,
.button-next  {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--white);
	z-index: 2;
	cursor: pointer;

	&:hover .swiper-arrow {
		color: var(--green);
	}
	
}
.large-banner-slider .button-next {
	right: 20px;
}
.large-banner-slider .button-prev {
	left: 20px;
}
.large-banner-slider .large-button-prev .swiper-arrow,
.large-banner-slider .large-button-next .swiper-arrow {
	transition: all .2s linear;
}
.large-banner-slider .large-button-prev .swiper-arrow {
	transform: rotate(180deg);
	margin-left: -2px;
}
.large-banner-slider .large-button-next .swiper-arrow {
	margin-right: -2px;
}


/* pagination large-banner-slider*/
.large-banner-slider .swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	height: 5px;
	z-index: 1;
}
.large-banner-slider .swiper-pagination-bullet {
	width: 40px;
	height: 3px;
	background-color: #fff;
	opacity: 0.5;
	margin-left: 10px;
	cursor: pointer;
	transition: all .2s linear;
	border: 0px solid var(--white);

	&:hover {
		border: 1px solid var(--white);
		color: var(--white);
		opacity: 1;
	}

	&:first-child {
		margin-left: 0;
	}
}
.large-banner-slider .swiper-pagination-bullet-active {
	opacity: 1;
}
// slider-swiper.banner-small 
.small-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 20px;
	width: 25%;
	min-width: 250px;
	position: relative;

	// .small-column__title-body

	&__title-body {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}

	// .small-column__title

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 145%;
		color: var(--title);
	}
}
.shop-card {
	box-sizing: border-box;
}
.card-icons {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;

	// .card-icons__border

	&__border {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-bottom: 5px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: var(--white);
		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover .header-control-svg{
			color: var(--green);
		}
	}
}

.card-slider .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	& img {
		transition: all .2s linear;
		transform: scale(1);
		width: 100%;
	}
}

.card:hover .swiper-slide img {
	transform: scale(1.1);
}
.small-column .swiper-button-prev {
	left: 10px;
}
.small-column .button-next {
	right: 10px;
}
.small-column .button-prev {
	left: 10px;
}
.small-column .button-prev .swiper-arrow {
	transform: rotate(180deg);
}
.small-column .swiper-button-prev .swiper-arrow,
.small-column .swiper-button-next .swiper-arrow {
	transition: all .2s linear;
}


/* .appearense */
.appearence {

	// .appearense__block

	&__block {
		display: flex;
		align-items: center;
	}

	// .appearense__image

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 40px;
		height: 40px;
		margin-right: 10px;
	}

	// .appearense__text

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 145%;
		color: var(--title);
		max-width: 175px;

		&:first-child {
			max-width: 130px;
		}
	}

	&__text:first-child {
		max-width: 130px;
	}
}
.appearence-slider .swiper-slide:first-child .appearence {
	
	&__text {
		max-width: 130px;
	}	
}
.appearence-slider .swiper-slide {
	width: auto;
	padding: 20px;
	border: 1px solid #F2F3F5;
	box-shadow: 0px 4px 12px rgba(34, 42, 70, 0.03);
}
.appearence-slider {
	overflow: hidden;
}