.green-button {
	display: flex;
	justify-content: center;

	&:hover .green-button__link {
		background-color: var(--green);
		color: var(--white);
	}

	&__link {
		padding: 15px 30px;
		border: 1px solid var(--green);
		border-radius: 5px;
		background-color: var(--white);
		transition: all .2s linear;
		align-items: center;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: var(--green);

		cursor: pointer;
	}
}
.reviews-content {
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
}
.reviews-slider {
	overflow: hidden;
	background-color: var(--white);
	border-radius: 10px;

		// .reviews-slider__slide

		&__slide {
			width: auto;
		}
}
.review {
	padding: 45px 40px 40px 50px;

		// .review__body

		&__body {
			display: flex;
			
			justify-content: space-between;
			align-items: center;

		}

		// .review__text

		&__text {
			margin-right: 30px;
		}

		// .review__title

		&__title {
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 145%;
			color: var(--title);
			margin: 10px 0 15px;
		}

		// .review__review-text

		&__review-text {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;
			color: var(--title);
			margin-bottom: 40px;
			max-width: 805px;
		}

		// .review__descr

		&__descr {
			display: flex;
			align-items: center;
			font-style: normal;
			font-weight: 400;

			& span {
				color: var(--green);
			}
		}

		// .review__descr-title

		&__descr-title {
			margin-right: 10px;
			color: var(--title);
			font-size: 16px;
			line-height: 140%;
		}

		// .review__img

		&__img {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;

			min-width: 200px;
			min-height: 200px;

			border: 1px solid var(--green);
		}

		&__img-body {
			width: 190px;
			height: 190px;
			border-radius: 50%;

			overflow: hidden;

			& img {
				width: 100%;
				// max-width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
}
.reviews-slider .reviews-button-prev {
	left: -20px;
	transform: rotate(180deg);
}
.reviews-slider .reviews-button-next {
	right: -20px;
}
/* button light */
.button-light {
	display: flex;
	justify-content: center;
	align-items: center;
	
	// .button-light__link

	&__link {
		position: relative;
		z-index: 1;
		background-color: var(--white);
		box-shadow: 0px 4px 15px rgba(34, 42, 70, 0.08);
		padding: 13px 50px;
		border-radius: 5px;
		margin-top: 30px;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: var(--green);
		border: 1px solid var(--white);
		transition: all .2s linear;
		cursor: pointer;

		&:hover {
			border: 1px solid var(--green);
		}
	}
}

/* stars-rating */
.stars {
	position: relative;
	display: inline-block;
	font-size: 40px;

	&:before {
		content: "★★★★★";
		display: block;
	}

	// .stars__content

	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		overflow: hidden;
		flex-direction: row-reverse;
	}

	// .stars__input

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 0%;
		opacity: 0;
		visibility: hidden;

		&:checked,
		&:checked ~ .stars__label {
			color: #ffa500;
		}
	}

	// .stars__label

	&__label {
		flex: 0 0 20%;
		color: #dadbcf;
		height: 100%;
		cursor: pointer;
		position: relative;

		&:before {
			content: "★";
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 40px;
			transform: translate(-50%, -50%);
			display: block;
			// opacity: 0;
			transition: all 0.2s linear;
		}

		&:hover,
		&:hover ~ .stars__label,
		&:checked ~ .stars__label:hover {
			color: #ffa500;
		}

	}
}

