.catalog-wrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: var(--white);
	}
}
.catalog-menu {
	width: 100%;
	height: 100%;

	overflow: auto;
	transition: all 0.5s ease 0s;
	z-index: 110;

	&__container {
		display: flex;
		flex-direction: column;
	}

	// .catalog-menu__header

	&__header {
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 100;
		background-color: var(--white);
		padding: 20px;
		transition: all 0.5s ease 0s;
	}

	// .catalog-menu__delivery

	&__delivery {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		width: 100%;
	}

	// .catalog-menu__search

	&__search {
		width: 100%;
		margin-bottom: 20px;
	}

	// .catalog-menu__title

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 145%;
		color: var(--dark);

		margin-bottom: 20px;
	}

	// .catalog-menu__catalog-content

	&__catalog-content {
		width: 100%;
		background-color: var(--white);
		padding: 20px;
		position: relative;
	}
}
.catalog-wrapper.open {
	opacity: 1;
	visibility: visible;
}


.catalog-wrapper.open .catalog-menu__header {
	// left: 0;
}

//  .popup.header-delivery
.popup.header-delivery {
		max-width: 100%;
}

//  .close-popup

.close-popup {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	position: relative;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--dark);
		border-radius: 5px;
		
	}
	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}
